{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Send us a message</h2>
    <form method="POST">
        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" placeholder="Your email" required>
        </div>
        <div class="mb-3">
            <label>Message</label>
            <textarea name="reason" class="form-control" placeholder="Your message" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>

<footer>
    <div id="footer_links">
    <a href="/">Home</a>
    <a href="/contact">Contact Us</a>
    <a hre="/view_resources">Resources</a>
    <a href="/booking">Book a Session</a>
</div>
<div id="footer_other">
    <h3>Email: hello@academicwizard.co.uk</h3>
    <h3>Phone: 01234 567890</h3>
    <h3>© Academic Wizard 2026. All rights reserved.</h3>
</div>
</footer>

{% endblock %}