{%extends "base.html"%} {% block title %}Home{% endblock %}

{%block content%}
<h1 id="home_title">Academic Wizard</h1>

<div id="overall">
<div id="about">
    <h3 id="about_text">Academic Wizard is a growing academic skills and tutoring company offering online and in-person tutoring services. They specialize in helping students aged 10-18 improve their study skills, exam preparation, and subject-specific knowledge (Maths, English, Science).</h3>
</div>

<div id="subjects">
    <h3 id="subjects_text">Academic Wizard offer tutoring for many different subjects:</h3>
    <li id="subject_list">English</li>
    <li id="subject_list">Mathematics</li>
    <li id="subject_list">Biology</li>
    <li id="subject_list">Chemistry</li>
    <li id="subject_list">Physics</li>
    <li id="subject_list">Business</li>
    <li id="subject_list">Psychology</li>
    <li id="subject_list">Computer Science</li>
    <li id="subject_list">Engineering</li>
    <h3 id="book_now" href="/booking">Book a session now!</h3>
</div>

</div>
{%endblock%}